body {
background-color: #ffcfae;
  }

h1 {

  color: #6d0000;
}

p {

  t
}
.vertical-align {

  padding-top: 10%;
}

#logo {

  max-width: 80%;
  max-height: 80%;
}

.btn-left {
  margin-left: -15%;
}
