body {
  background-color: #ffcfae;
}

h1 {
  color: #6d0000;
}

p {
  t
}

.vertical-align {
  padding-top: 10%;
}

#logo {
  padding-left: 35%;
  max-width: 80%;
  max-height: 80%;
}

.btn-spacing {
margin-top: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #1f5e19 !important;
  border-color: #1f5e19 !important;
}

.btn-primary:hover {
  background-color: #A82B1B !important;
  border-color: #A82B1B !important;
}

.inputdiv {
  margin: 0 auto;
  width:50%

}
